:root{
  --mainBlue: #CB7C7C;
  --lightBlue: #9B3A3A;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "Lato", sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0.03 rem !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.nav-logo-size{
  width: 70px;
  height: 70px;
}